[Desktop Entry]
Name=MarkDown++
Comment=Next generation markdown editor
Exec=markdownpp %F
Terminal=false
Type=Application
Icon=markdownpp
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;
Keywords=markdownpp;
StartupWMClass=markdownpp
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=markdownpp --new-window %F
Icon=markdownpp
